*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    color: #999;
    background: url(./../img/1.jpg) repeat-x;
}
div#app{
    background-color: #09f;
    color: #fff;
    width: 400px;
    height: 400px;
}
div#app div{
    width: 200px;
    height: 200px;
    background-color: #090;
}
div#app div img{
    width: 200px;
}
h1{
    color: #f00;
}
